Package: com.git-anish.mDNSrestart
Name: mDNSrestart
Version: 1.0
Architecture: iphoneos-arm
Pre-Depends: dpkg (>= 1.13.25-5)
Description: A system package for restarter for mDNSResponder & mDNSResponderHelper.
Maintainer: git-anish <anish@hey.com>
Author: git-anish <anish@hey.com>
Section: System
