Package: com.git-anish.mDNSrestart
Name: mDNSrestart
Version: 1.1
Architecture: iphoneos-arm
Pre-Depends: dpkg (>= 1.20.5-1)
Description: A system package for restarter for mDNSResponder & mDNSResponderHelper. This will install a daemon that will run only once at boot then never again until a system restart and rejailbreak.
Maintainer: git-anish <anish@hey.com>
Author: git-anish <anish@hey.com>
Section: System
