Package: com.git-anish.mDNSrestart
Name: mDNSrestart
Version: 1.1
Architecture: iphoneos-arm
Pre-Depends: dpkg (>= 1.20.5-1)
Description: A system package for restarter for mDNSResponder & mDNSResponderHelper.
Maintainer: git-anish <anish@hey.com>
Author: git-anish <anish@hey.com>
Section: System
